Week 3/Day 3/ETL AI Automation.json
{
  "name": "ETL AI Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "File_Upload",
        "formDescription": "Upload student data",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File_Upload",
              "fieldType": "file"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -640,
        -96
      ],
      "id": "c6d3eed3-0f38-4592-ac76-8884067a81e0",
      "name": "CSV_Upload",
      "webhookId": "81a36833-175e-4b41-a47e-0b2e08765047"
    },
    {
      "parameters": {
        "binaryPropertyName": "File_Upload",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -416,
        -96
      ],
      "id": "5ce5fe56-75a3-47b3-8939-2992f74ce3e8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Clean this student enrollment row and return ONLY a JSON object.\n\nRow data: {{ JSON.stringify($json) }}\n\nRules:\n- Name: Title Case (Manoj K)\n- Email: if invalid set INVALID_EMAIL\n- Phone: if less than 10 digits set MISSING\n- Course: only Python or Machine Learning or Data Science\n- Fee_Paid: yes/YES = true, no/NO = false\n- City: Title Case, empty = UNKNOWN\n- Enrolled_Date: convert to YYYY-MM-DD\n\nReturn ONLY raw JSON. No explanation. No markdown.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -208,
        -96
      ],
      "id": "63ed8c46-4480-41fd-92cd-8b764cab88c5",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -320,
        112
      ],
      "id": "995f995f-dbd1-4ebd-9b82-7fbc38fed46e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NlaKHzdHmojcJg6D",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n    try {\n\n        let text = item.json.output || item.json.text || item.json.response;\n\n        if (typeof text !== \"string\") {\n            return { json: text };\n        }\n\n        text = text\n            .replace(/```json/g, \"\")\n            .replace(/```/g, \"\")\n            .trim();\n\n        const data = JSON.parse(text);\n\n        // Trim all string fields\n        Object.keys(data).forEach(key => {\n            if (typeof data[key] === \"string\") {\n                data[key] = data[key].trim();\n            }\n        });\n\n        // Validate email\n        const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\n        if (\n            !data.Email ||\n            !emailRegex.test(data.Email)\n        ) {\n            data.Email = null;\n        }\n\n        return {\n            json: data\n        };\n\n    } catch (err) {\n\n        return {\n            json: {\n                error: err.message,\n                raw: item.json\n            }\n        };\n\n    }\n\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -96
      ],
      "id": "20d0eb5d-0803-47a3-bf39-bfd80788b659",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        304,
        -96
      ],
      "id": "3ff885d1-f8a2-4391-8068-681f7df3e36a",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "CSV_Upload": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b2d795a0-1561-4a00-a07c-1517dbf3a2f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d92f8baf64979a542e44c31244c75711da2ad5339840396a70351cd6b2c2bdd3"
  },
  "nodeGroups": [],
  "id": "Le2BlgYGca3r91h5",
  "tags": []
}